.form {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr auto;
  padding: 20px;
}

@media (max-width:767px) {
  .form {
    grid-template-columns: 1fr;
  }
}

.form__input {
  border-color: #eee;
  border-style: solid;
  padding: 10px;
}